# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
config.js


# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/

# Logs
logs/
*.log

# Optional: TypeScript files
*.tsbuildinfo

# Coverage reports
coverage/

# Temporary files
tmp/
temp/
